In [15]:
import csv
f = open('seoul.csv','r', encoding='cp949')
data = csv.reader(f, delimiter=',')
header = next(data)
max_temp = -999
min_temp = 999
max_interval = 0
max_date = ''
min_date = ''
interval_date = ''
for row in data :
    if row[-1] == '':
        row[-1] = -999
    if row[-2] == '':
        row[-2] = 999
    row[-1] = float(row[-1])
    row[-2] = float(row[-2])
    
    if max_temp < row[-1]:
        max_date = row[0]
        max_temp = row[-1]
    if min_temp > row[-2]:
        min_date = row[0]
        min_temp = row[-2]
        
    interval = row[-1] - row[-2]
    
    if interval > max_interval:
        max_interval = interval
        interval_date = row[0]
    
f.close()
print('일교차가 가장 큰 날')
print(interval_date)
print('최저기온이 가장 낮은 날')
print(min_date)
print('최고기온이 가장 높은 날')
print(max_date)

일교차가 가장 큰 날
2021-04-21
최저기온이 가장 낮은 날
2021-01-08
최고기온이 가장 높은 날
2021-07-24

In [31]:
import csv
f = open('subwayUser.csv','r',encoding='cp949')
data = csv.reader(f, delimiter=',')
header = next(data)
max_user = [' ',' ',' ']
min_user = [' ',' ',' ']
max_count = [0,0,0]
min_count = [100000000,100000000,100000000]
temp = 0
name_temp = 'a'

for row in data:
    if row[-1] == '':
        row[-1] = 0
    if row[-2] == '':
        row[-2] = 0
    row[-1] = int(row[-1])
    row[-2] = int(row[-2])
    
    user_count = row[-1] + row[-2]
    if max_count[2] < user_count:
        if max_count[1] < user_count:
            if max_count[0] < user_count:
                max_count[2] = max_count[1]
                max_count[1] = max_count[0]
                max_count[0] = user_count
                max_user[2] = max_user[1]
                max_user[1] = max_user[0]
                max_user[0] = row[-3]
            else:
                max_count[2] = max_count[1]
                max_count[1] = user_count
                max_user[2] = max_user[1]
                max_user[1] = row[-3]
        else:
            max_count[2] = user_count
            max_user[2]= row[-3]
    
    if min_count[2] > user_count:
        if min_count[1] > user_count:
            if min_count[0] > user_count:
                min_count[2] = min_count[1]
                min_count[1] = min_count[0]
                min_count[0] = user_count
                min_user[2] = min_user[1]
                min_user[1] = min_user[0]
                min_user[0] = row[-3]
            else:
                min_count[2] = min_count[1]
                min_count[1] = user_count
                min_user[2] = min_user[1]
                min_user[1] = row[-3]
        else:
            min_count[2] = user_count
            min_user[2] = row[-3]

f.close()

print('이용객이 가장 많은 역 순위')
for i in range(0,3):
    print(str(i+1) + '. ' + max_user[i] + '(' + str(max_count[i]) + ')')
print('이용객이 가장 적은 역 순위')
for i in range(0,3):
    print(str(i+1) + '. ' + min_user[i] + '(' + str(min_count[i]) + ')')

이용객이 가장 많은 역 순위
1. 강남(4364436)
2. 잠실(송파구청)(3927922)
3. 신림(3412199)
이용객이 가장 적은 역 순위
1. 검암(2)
2. 창동(8)
3. 계양(8)